html{
    background-image: url(https://stepik.org/media/attachments/lesson/374893/world.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1%;
}

.quizArea{
    min-height: 400px;
    min-width: 400px;
    margin: auto auto auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    background: black;
    color: #f6e8e1;
    margin-bottom: 3%;
    font-size: smaller;
}

.container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    perspective: 1000px;
}

.card {
    width: 150px;
    height: 150px;
    position: relative;
    backface-visibility: visible;
    transition: all 700ms linear;
    transform-style: preserve-3d;
}

.front,.back{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    background: linear-gradient(134deg, #f6e8e1 0%, #6D83F2 99%);
    backface-visibility: hidden;
}

.back{
    z-index: 1;
    background: linear-gradient(134deg, palegreen 0%, #C7D0FF 99%);
    transform: rotateY(180deg);
}

.card:hover{
    transform: rotateY(180deg);
}

p{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: larger;
}







